.services {
    position: relative;
    padding: 2em;
    justify-content: center;
}

.header {
    position: relative;
    text-align: center;
    height: 100px;
}

.background-title, .overlay-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}
.service-item {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    font-size: 2em;
    border-radius: 10px;
    margin-right: 1em;
    color: #146C94;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.service-title {
    margin: 0.5em 0;
    color: #333;
    font-weight: bold;
    text-align: left;
}

.service-description {
    color: #555;
}
